.home-page {
    display: grid;
    grid-template-columns: auto 1fr;
}

.advisor-parent-container {
    padding: 4rem;
}

.advisor-container:not(:first-of-type) {
    margin-top: 2rem;
}

.advisor-container-heading {
    font-size: 2rem;
    font-weight: 700;
}

.advisor-card-container {
    margin-top: 1rem;
    display: flex;
    column-gap: 1rem;
}